<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RegistroErrores" value="C:\inetpub\DocumentosAplicacionENREL\Registros\RegistroErrores.txt"/>
    <add key="RegistroExcepciones" value="C:\inetpub\DocumentosAplicacionENREL\Registros\RegistroExcp.txt"/>
    <add key="Html_Alerta" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\HtmlAlerta.html"/>
    <add key="Logotipo_SENER" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\Logotipo_SENER.png"/>
    <add key="Logotipo_MEXICO" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\logo_mexico_01_38.png"/>
    <add key="CorreoAdministrador" value="crosas@energia.gob.mx"/>
    <add key="CorreoAdministrador2" value="ficticio@energia.gob.mx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- activarla sólo para debug de servicio -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="Conexion" connectionString="Data Source=SQL-APP\Ventanillaeneren;Initial Catalog=BDENREL;user id=idom2;password=idom2" providerName="System.Data.EntityClient"/>
  </connectionStrings>

</configuration>
