<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  Desarrollo
  -->
<configuration>
  <connectionStrings>
    <add name="CadenaDeConexion" connectionString="Data Source=SQL-APP\Ventanillaeneren;Initial Catalog=BDENREL_QA;user id=idom2;password=idom2"/>
   
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <!--Happy paths:Html-->
    <add key="CorreoAdministrador" value="crosas@energia.gob.mx"/>
    <add key="Html_AcuseRegistroENREL" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\HtmlAcuseRegistroENREL.html"/>
    <add key="Html_AceptarSolicitud" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\HtmlAceptarRepresentanteLegal.html"/>
    <add key="RegistroErrores" value="C:\inetpub\DocumentosAplicacionENREL\Registros\RegistroErrores"/>
    <add key="Html_RechazarSolicitud" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\HtmlRechazarRepresentanteLegal.html"/>
    <add key="Html_SolicitarCambioContraseña" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\HtmlSolicitudCambioContraseña.html"/>
    <add key="Html_NotificacionInicioTramiteDependencia" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\HtmlNotificacionInicioTramiteDependencia.html"/>
    <add key="Html_NotificacionInicioTramiteRL" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\HtmlNotificacionInicioTramiteRL.html"/>
    <add key="Enlace_SolicitarCambioContraseña" value="http://172.16.80.23:8023/Usuarios/CambioDeContraseñaPorExtravio?ClaveReset="/>
    <add key="EnlaceENREL" value="http://172.16.80.23:8023"/>
    <add key="MensajeError" value="Error de sistema, intente de nuevo por favor."/>
    <add key="PDF_Reportes" value="C:\inetpub\DocumentosAplicacionENREL\HTMLTemplates\Correos ENREL\PdfReportes.html"/>
    <!--Happy paths:Logotipos-->
    <add key="Logotipo_COFEMER" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\Logotipo_COFEMER.png"/>
    <add key="Logotipo_ENREL_120" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\Logotipo_ENREL_120.jpg"/>
    <add key="Logotipo_GobiernoDeLaRepublica" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\Logotipo_GobiernoDeLaRepublica.png"/>
    <add key="Logotipo_Gobmx" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\Logotipo_Gobmx.png"/>
    <add key="Logotipo_SENER" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\Logotipo_SENER.png"/>
    <add key="Logotipo_SENE2" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\Logotipo_SENER2.png"/>
    <add key="Logotipo_MEXICO" value="C:\inetpub\DocumentosAplicacionENREL\Logotipos\logo_mexico_01_38.png"/>
    <!--Happy paths:Mapas de Tecnologías-->
    <add key="Img_MapaTecnologia" value="C:\inetpub\DocumentosAplicacionENREL\MapasTecnologias\"/>
    <!--Happy paths:URL's wsGobmx-->
    <add key="wsGobmx_registrarRefMacroTramite" value="http://189.202.186.213/soa-infra/resources/default/EstatusTramitesProject!1.0/EstatusTramitesRest/registrarRefMacroTramite"/>
    <add key="wsGobmx_registrarRefTramite" value="http://189.202.186.213/soa-infra/resources/default/EstatusTramitesProject!1.0/EstatusTramitesRest/registrarRefTramite"/>
    <add key="wsGobmx_consultarEstatusMacroTramite" value="http://189.202.186.213/soa-infra/resources/default/EstatusTramitesProject!1.0/EstatusTramitesRest/consultarEstatusMacroTramite"/>
    <add key="wsGobmx_notificarEstatusTramite" value="http://189.202.186.213/soa-infra/resources/default/EstatusTramitesProject!1.0/EstatusTramitesRest/notificarEstatusTramite"/>
    <!--Happy paths:Variables wsGobmx-->
    <add key="wsGobmx_metodo" value="1"/>
    <add key="wsGobmx_idOperador" value="1"/>
    <add key="wsGobmx_identidad" value="RANJ880705C21"/>
    <add key="wsGobmx_ip" value="192.168.22.10"/>
    <add key="wsGobmx_tipoIdentidad" value="2"/>
    <add key="wsGobmx_email" value="alexramosnj@gmail.com"/>
    <add key="MensjaePrivacidad" value="http://172.16.80.23:8023/Home/DescripcionAplicacion"/>
    <!--Firma de PDF-->
    <add key="firma_Ubicacion" value="https://qa_enrel.energia.gob.mx"/>
    <add key="firma_RazonInversionista" value="Dar fe de la autenticidad del documento ante la SENER"/>
    <add key="firma_RazonAdministrador" value="Confirmar la aprobación y autenticidad del documento por parte de la SENER"/>
    <!--Happy paths:Formatos de Oficios-->
    <add key="Oficio_RecepcionSolicitudRegistro" value="C:\inetpub\DocumentosAplicacionENREL\OficiosTemplates\ENREL\OficioDeAdmision"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" useFullyQualifiedRedirectUrl="true" maxRequestLength="26624" requestLengthDiskThreshold="5120" executionTimeout="3600" enableVersionHeader="false"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="FBADB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
        <!--<add name="FBAMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="FBADB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />-->
      </providers>
    </membership>
    <roleManager>
      <providers>
        <add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="AspNetWindowsTokenRoleProvider" applicationName="/" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="FBARoleProvider" connectionStringName="FBADB" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProcessNivel3PortTypeCallBackBinding" />
        <binding name="ProcessNivel0PortTypeCallBackBinding" />
        <binding name="WebService1Soap" />
        <binding name="BasicHttpBinding_INotificacionDeInteroperabilidad" />
        <binding name="BasicHttpBinding_IVunSvc" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ProcessNivel3Binding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="ProcessNivel0Binding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.20.33.10:8080/sener/Nivel3" binding="customBinding"
        bindingConfiguration="ProcessNivel3Binding" contract="WSBPM_Nivel3.ProcessNivel3PortType"
        name="ProcessNivel3PortType" />
      <endpoint address="http://10.20.33.10:8080/sener/Nivel0" binding="customBinding"
        bindingConfiguration="ProcessNivel0Binding" contract="WSBPM_Nivel0.ProcessNivel0PortType"
        name="ProcessNivel0PortType" />
      <endpoint address="http://uvo10f9bsj834jv140h.env.cloudshare.com/_layouts/15/FBA2/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
      <endpoint address="http://api-interoperabilidad-qa.azurewebsites.net/NotificacionDeInteroperabilidad.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionDeInteroperabilidad"
        contract="NotificacionesIOP.INotificacionDeInteroperabilidad"
        name="BasicHttpBinding_INotificacionDeInteroperabilidad" />
      <endpoint address="http://servicios.cenace.gob.mx/vun/VUN.Middleware.VunSvc.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVunSvc"
        contract="NotIOPCENACE.IVunSvc" name="BasicHttpBinding_IVunSvc" />
    </client>
  </system.serviceModel>
</configuration>