@{
    ViewBag.Title = "¿Qué es ENREL?";
}

<!-- Begin Digital Analytix Tag 1.1302.13 -->
<script type="text/javascript">
    udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=Inicio');
</script>
<noscript><p><img src="https://sb.scorecardresearch.com/p?c1=2&amp;c2=17183199&amp;ns_site=gobmx&amp;name=SENER.ENREL.Inicio.Inversionista" height="1" width="1" alt="*"></p></noscript>
<!-- End Digital Analytix Tag 1.1302.13 -->
@*Breadcum*@
<div class="row" style="margin-top:94px">
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li>
                <a target="_blank" href="https://www.gob.mx/">
                    <i class='icon icon-home'></i>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Home")">
                    Inicio
                </a>
            </li>
            <li class="active">
                ¿Qué es ENREL?
            </li>
        </ol>
    </div>
</div>
@*<div>
        <table style="width:100%;margin-top:94px">
            <tr>
                <td style="width:49%; text-align:left; vertical-align:top">
                    <ol class='breadcrumb' style="padding:8px 8px 8px 8px; margin-bottom:0px;">
                        <li>
                            <a target="_blank" href="https://www.gob.mx/">
                                <i class='icon icon-home'></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")">
                                Inicio
                            </a>
                        </li>
                        <li class="active">
                            ¿Qué es ENREL?
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>*@


@*Título *@
<h2>
    ¿Qué es ENREL?
</h2>
<br />
<div class="row">
    <div class="col-sm-8">
        <div class="bottom-buffer">
            <p>
                En esta sección encontrarás datos interesantes que te ayudarán a conocer la aplicación,
                los requerimientos para el uso de la aplicación así como los fundamentos legales que han dado origen a esta iniciativa.
            </p>
        </div>
    </div>
</div>


<div class="panel-group ficha-collapse" id="accordion0">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#panel-0" aria-expanded="false" aria-controls="panel-0">
                    Descripción de la aplicación
                </a>
            </h4>
            <button type="button" class="collpase-button collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel-0"></button>
        </div>
        <div class="panel-collapse collapse" id="panel-0">
            <div class="panel-body">
                Energías Renovables en Línea (ENREL),  es una herramienta integrada a la plataforma gob.mx para facilitar el seguimiento de la gestión de los trámites
                de proyectos de generación de energía eléctrica con fuentes renovables, permitirá operar desde cualquier lugar y equipo de cómputo
                (incluidos los dispositivos móviles) las 24 horas del día, los 7 días de la semana, con el objetivo de promover la inversión,
                agilizar los trámites y la ejecución de los proyectos, además de promover la transparencia en las políticas públicas.
                <br />
                <br />
                <table>
                    <tr>
                        <td colspan="2">
                            <p>ENREL tiene entre sus principales propósitos:  </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>1.</p>
                        </td>
                        <td>
                            <p>
                                Fomentar el desarrollo de proyectos de generación de energía eléctrica con fuentes renovables a partir de 0.5MW de capacidad instalada,
                                simplificar requisitos y  agilizar los trámites a nivel federal.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>2.</p>
                        </td>
                        <td>
                            <p>Reducir el tiempo de días trámite.  </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>3.</p>
                            <br />
                        </td>
                        <td>
                            <p>
                                Garantizar en todo momento la seguridad de la información y la disponibilidad operativa con una infraestructura tecnológica de
                                vanguardia y el uso de herramientas digitales.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="panel-group ficha-collapse" id="accordion01">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#panel-01" aria-expanded="false" aria-controls="panel-01">
                    Requerimientos
                </a>
            </h4>
            <button type="button" class="collpase-button collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel-01"></button>
        </div>
        <div class="panel-collapse collapse" id="panel-01">
            <div class="panel-body">
                Para poder usarla, los representantes legales de las empresas interesadas deberán iniciar el registro de:
                empresas, usuarios y proyectos, dejando huella de cada actividad en una bitácora electrónica y utilizando
                la Firma Electrónica (e.firma) en las acciones que impliquen tal formalización, generando así un
                intercambio seguro de información.
            </div>
        </div>
    </div>
</div>

<div class="panel-group ficha-collapse" id="accordion03">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#panel-03" aria-expanded="false" aria-controls="panel-03">
                    Información normativa y legal relacionada
                </a>
            </h4>
            <button type="button" class="collpase-button collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel-03"></button>
        </div>
        <div class="panel-collapse collapse" id="panel-03">
            <div class="panel-body" style="text-align:justify;">
                El sistema ENREL se realiza en atención a la Ley de Transición Energética, Artículo 14, Fracción XII, inciso f).
                <br />
                <br />
                <table>
                    <tr>
                        <td colspan="2">
                            <p>Propósitos principales: </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://dof.gob.mx/nota_detalle.php?codigo=5421295&fecha=24/12/2015">Ley de Transición Energética</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://dof.gob.mx/nota_detalle.php?codigo=5355986&fecha=11/08/2014">Ley de la Industria Eléctrica </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://dof.gob.mx/nota_detalle.php?codigo=5366665&fecha=31/10/2014">Reglamento de la Ley de la Industria Eléctrica</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://dof.gob.mx/nota_detalle.php?codigo=5355986&fecha=11/08/2014">Ley de Energía Geotérmica</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://dof.gob.mx/nota_detalle.php?codigo=5366670&fecha=31/10/2014">Reglamento de la Ley de Energía Geotérmica</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://www.dof.gob.mx/nota_detalle.php?codigo=5299465&fecha=20/05/2013">Programa Nacional de Desarrollo</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://www.dof.gob.mx/nota_detalle.php?codigo=5380863&fecha=03/02/2015">Decreto por el que se establece la Ventanilla Única Nacional para los Trámites e Información del Gobierno.</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://dof.gob.mx/nota_detalle.php?codigo=5343881&fecha=08/05/2014">Acuerdo que tiene por objeto emitir las políticas y disposiciones para la Estrategia Digital Nacional, en materia de tecnologías de la información y comunicaciones, y en la de seguridad de la información, así como establecer el Manual Administrativo de Aplicación General en dichas materias.</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25px;">
                            <p>•</p>
                        </td>
                        <td>
                            <a target="_blank" href="http://www.dof.gob.mx/nota_detalle.php?codigo=5424367&fecha=04/02/2016">Acuerdo por el que se modifican las políticas y disposiciones para la Estrategia Digital Nacional, en materia de tecnologías de la información y comunicaciones, y en la de seguridad de la información, así como el Manual Administrativo de Aplicación General en dichas materias.</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel-group ficha-collapse" id="accordion04">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#panel-03" aria-expanded="false" aria-controls="panel-04">
                    Aviso de privacidad y protección de datos personales
                </a>
            </h4>
            <button type="button" class="collpase-button collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel-04"></button>
        </div>
        <div class="panel-collapse collapse" id="panel-04">
            <div class="panel-body" style="text-align:justify;">
                La Secretaria de Energía hace de su conocimiento que los datos personales por usted proporcionados en la aplicación de Energías Renovables en Línea (ENRELmx), están protegidos en términos de lo establecido en la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados y serán utilizados con la siguiente finalidad:
                •	Registro de los promoventes interesados en presentar proyectos.
                •	Contar con la información para la realización de los trámites necesarios.
                •	Hacer llegar las notificaciones y estados de avance de los trámites realizados al titular de los datos proporcionados.
                En caso de requerir el acceso, rectificación, cancelación u oposición al tratamiento de los datos personales que le conciernen de conformidad con los artículos 48, 49, 50, 51 y 52 de la LGPDPPSO podrá tramitar su solicitud ante la Unidad de Transparencia de la Secretaría de Energía con domicilio en Av. Insurgentes Sur No. 890, Planta Baja, Col. Del Valle, C.P. 03100, Ciudad de México, y/o al teléfono (55) 5000-6000 ext. 1441.
                <br />

            </div>
        </div>
    </div>
</div>
