@{
    ViewBag.Title = "Guía de uso";
}

<!-- Begin Digital Analytix Tag 1.1302.13 -->
<script type="text/javascript">
    udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=Inicio');
</script>
<noscript><p><img src="https://sb.scorecardresearch.com/p?c1=2&amp;c2=17183199&amp;ns_site=gobmx&amp;name=SENER.ENREL.Inicio.Inversionista" height="1" width="1" alt="*"></p></noscript>
<!-- End Digital Analytix Tag 1.1302.13 -->

@*Breadcum*@
<div class="row" style="margin-top:94px">
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li>
                <a target="_blank" href="https://www.gob.mx/">
                    <i class='icon icon-home'></i>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Home")">
                    Inicio
                </a>
            </li>
            <li class="active">
                Guía de uso
            </li>
        </ol>
    </div>
</div>
@*<div >
    <table style="width:100%;margin-top:94px">
        <tr>
            <td style="width:49%; text-align:left; vertical-align:top">
                <ol class='breadcrumb' style="padding:8px 8px 8px 8px; margin-bottom:0px;">
                    <li>
                        <a target="_blank" href="https://www.gob.mx/">
                            <i class='icon icon-home'></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Inicio
                        </a>
                    </li>
                    <li class="active">
                        Guía de uso
                    </li>
                </ol>
            </td>
        </tr>
    </table>
</div>*@

@*Título *@
<h2>
    Guía de uso
</h2>
<br />
<div class="row">
    <div class="col-sm-8">
        <div class="bottom-buffer">
            <p>
                Para registrar un proyecto en la aplicación Energías Renovables en Línea, 
                deberás completar los siguientes pasos:
            </p>
        </div>
    </div>
</div>

<div style="width:100%">
    <img src="~/Content/Imagenes/pasos_2.png" style="width:85%; text-align:center" />
</div>
<br />
<p>Descripción de los pasos a seguir</p>

<div class="row">
    <div class="col-sm-8">
        <div class="bottom-buffer">

            <table>
                <tr>
                    <td style="width:25px;">
                        <p>1.</p>
                        <br />
                        <br />
                        <br />

                    </td>
                    <td>
                        <p>Hacer clic en la opción “regístrate” en el menú de opciones y completar la solicitud de registro. Para ello, se deberá de ingresar la información solicitada en el formulario (el Representante legal de la empresa deberá ser quien realice la solicitud de registro y si así lo desea, podrá crear usuarios para la operación, control y seguimiento de sus proyectos). En este punto es indispensable el uso de su e-firma para el envío de la solicitud.</p>
                    </td>
                </tr>
                <br />
                <tr>
                    <td style="width:25px;">
                        <p>*</p>
                        <br />
                        <br />
                    </td>
                    <td>
                        <p > La validación de su solicitud y de los documentos que acreditan la representación legal, puede tardar hasta 24 horas durante los días hábiles. En el proceso también se considera la verificación de su cuenta de correo electrónico para garantizar la recepción de notificaciones que serán enviadas por la aplicación.  </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>2.</p>
                        <br />
                    </td>
                    <td>
                        <p >Recibirá una notificación vía correo electrónico con la respuesta de su solicitud. En dicho correo, se le proporcionará un usuario y contraseña temporales para el acceso a la aplicación.  </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>3.</p>
                        <br />
                    </td>
                    <td>
                        <p > Deberá ingresar a la aplicación de energías renovables en línea con las credenciales proporcionadas en el correo electrónico y por seguridad se le solicitará cambiar el usuario y contraseña asignados al primer ingreso. </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>4.</p>
                        <br />
                        <br />
                        <br />
                    </td>
                    <td>
                        <p > El siguiente paso será el registro de un nuevo proyecto. En el menú superior deberá seleccionar la opción “proyectos” y “nuevo proyecto”. Posteriormente, se deberá de llenar el formulario para registrar un nuevo proyecto. La herramienta permite realizar un Análisis de Pre-factibilidad Geográfico de Viabilidad (APGV), el cual será exclusivamente informativo y no tendrá en ningún momento carácter limitativo para un proyecto, dando así una visión general de todas las variables que pudieran verse implicadas en el proyecto. </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>5.</p>
                        <br />
                        <br />
                        <br />
                    </td>
                    <td>
                        <p >Una vez creado un proyecto, se le podrá dar seguimiento en la pantalla principal o entrando a la opción “gestión de proyectos” en el menú principal. En donde podrá ir a la opción para gestionar los trámites relacionados. En dicha pantalla tendrá la posibilidad de ir realizando los trámites conforme se vayan habilitando por la aplicación. El sistema irá mostrando una actualización del estado en el que se encuentran sus trámites y a su vez irá habilitando la opción para realizar trámites en el orden que se muestra en el mapa de procesos. </p>
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td colspan="2">
                        <p>Adicionalmente, en el menú principal de la aplicación podrá: </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>a.</p>
                    </td>
                    <td>
                        <p >Registrar un Representante legal, usuarios operativos y proyectos.</p>
                    </td>
                </tr>
                <br />
                <tr>
                    <td style="width:25px;">
                        <p>b.</p>
                    </td>
                    <td>
                        <p >Visualizar los datos de representantes legales asociados, de la empresa, de los usuarios operativos o de proyectos.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>c.</p>
                    </td>
                    <td>
                        <p >Editar y cambiar datos de representantes legales, de la empresa, de los usuarios operativos o de proyectos.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>d.</p>
                    </td>
                    <td>
                        <p >Eliminar datos de un Representante legal, de usuarios operativos asociados o de proyectos, esto solo bajo ciertas restricciones. </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>e.</p>
                    </td>
                    <td>
                        <p > Realizar un Análisis de Prefáctibilidad Geográfico de Viabilidad (APGV) para un proyecto. </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:25px;">
                        <p>f.</p>
                        <br />
                    </td>
                    <td>
                        <p >Consultar el estado de los trámites a través de una pantalla que reporta el estatus de los mismos y el grado de avance en el desarrollo del proyecto. </p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>


