@{
    ViewBag.Title = "Inicio consultor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string NombreUsuarioSession = "";
    if (Session["NombreUsuario"] != null)
    {
        NombreUsuarioSession = Session["NombreUsuario"].ToString();
    }
}

@*Breadcum y usuario*@
<div class="row" style="margin-top:94px">
    <div id="Breadcum" class="container">
        <div class="row">
            <div class="col-sm-8">
                <ol class="breadcrumb">
                    <li><a href="https://www.gob.mx/" target="_blank"><i class="icon icon-home"></i></a></li>
                    <li class="active">Inicio</li>
                </ol>
            </div>
            <div class="col-sm-4">
                <div class="user-credencials">
                    <ul class="list-unstyled">
                        <li>
                            <span class="user-credencials__name">@NombreUsuarioSession</span>
                            <button type="button" class="btn btn-link pull-right" onclick="javascript: uid_call('SENER.ENREL.INVERSIONISTA.BTN_CERRARSESIÓN', 'clickout'); location.href = '@Url.Action("Logout", "Home")'">Salir</button>
                        </li>
                        <li><a href="@Url.Action("Actualizar", "Usuarios")">Modificar usuario</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="~/Content/Imagenes/Logotipo_SENER.png" />
            </div>
        </div>
        <div class="col-md-4" style="text-align:right;">
            <div>
                <img src="~/Content/Imagenes/Logotipo_ENREL_120.jpg" />
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>




@*Título *@
<div class="bottom-buffer"></div>
<h2>Datos de ENREL </h2>
<br />
<div class="bottom-buffer"></div>


<table style="width:100%">
    <tr>
        <td style="text-align:left">
            Desde esta pantalla podrás consultar información referente a los proyectos registrados, así como de empresas,
            montos de inversión y otra información de interés.
            <br />
            <br />
            Selecciona la pestaña "Reportes" del menú superior para visualizar la información registrada por ENREL.
        </td>
    </tr>
</table>

@*Ventana Modal: *@
<div id="MyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Acerca de este reporte</h4>
            </div>
            <div class="modal-body" style="text-align:left;" id="modal-content">
                Cargando...
            </div>
        </div>
    </div>
</div>



