@{
    ViewBag.Title = "Menu de administracion";
}

@*Breadcum*@
<div style="margin-top:94px; width:100%">
    <table style="width:100%">
        <tr>
            <td style="width:100%; text-align:left">
                <div style="width:120px">
                    <img src="~/Content/Imagenes/Logotipo_SENER.png" />
                </div>
            </td>
            <td style="width:49%; text-align:right">
                <div>
                    <img src="~/Content/Imagenes/Logotipo_ENREL_120.jpg" />
                </div>
            </td>
        </tr>
    </table>
</div>

@*Título *@
<h3>Administración de la aplicación </h3>
<br />

<table style="width:100%">
    <tr>
        <td style="text-align:left">
            Desde esta pantalla podrás gestionar la administración de la aplicación, validar nuevas solicitudes de registro
            para empresas y representantes legales, así como administrar los diferentes catálogos.
            <br />
            <br />
            Selecciona alguna de las opciones del menú superior.
        </td>
    </tr>
</table>










<br />
<br />

